<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/navbar.ejs') %> 

<div class="container">
    <hr>
<div class="card">
    <div class="card-header">
        <h2>Novo Artigo</h2>
    </div>

   <div class="cad-body">
    <form action="/articles/save" method="POST">
        <br>
        <input  class="form-controll" type="text" name="title" placeholder="Defina o titulo da Artigo ">
        <br> <br>
        <textarea id="article" class="form-control" placeholder="Escreva o Artigo"  name="body"  cols="30" rows="10"></textarea>
       <label for="">Categoria</label>
       <select name="category" class="form-control" id="">
           <% categories.forEach((category)=>{ %>

           <option value="<%= category.id %> "><%=  category.title%></option>    
             <% }) %> 
       </select>
        <br> <br>
        <button class=" btn btn-success">Cadastrar</button>
       </form>
   </div>
</div>
</div>

<%- include ('../../partials/footer.ejs') %>  
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language:'pt_BR',
        selector:"#article",
        plugins:[
            'advlist', 'autolink', 'link' 
            ,'image', 'print' ,'lists', 'preview', 'table'
            , 'hr', 'searchreplace', 'wordcount', 'paste' 
            ,'emoticons', 'fullscreen', 'insertdatetime', 'media', 'save'
        ]
    })
</script>